name: E2E Tests
on: [pull_request]
jobs:
  cypress-run:
    name: Cypress run
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          start: npm run start
          wait-on: http://localhost:3000
          env: configFile=ci
        env:
          REACT_APP_ATLAS_APP_ID: ${{ secrets.REACT_APP_ATLAS_APP_ID }}
          CYPRESS_LOGIN_EMAIL: ${{ secrets.CYPRESS_LOGIN_EMAIL }}
          CYPRESS_LOGIN_PASSWORD: ${{ secrets.CYPRESS_LOGIN_PASSWORD }}
